@model Setting

<div class="container">
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">@Model.Key</th>
                </tr>
            </thead>
        </table>
        <div class="mb-3">
            <label asp-for="Value" class="form-label">Value</label>
            <input asp-for="Value" type="text" class="form-control">
            <span asp-validation-for="Value" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>